.one{
    background-color: greenyellow;
}
.two{
    background-color: rgb(126, 215, 84);
}
.three{
    background-color: rgb(0, 255, 179);
}
.four{
    background-color: rgb(196, 203, 203);
}
.five{
    background-color: rgb(147, 65, 137);
}
.six{
    background-color: aqua;
}
.seven{
    background-color: rgb(227, 8, 183);
}
.eight{
    background-color: rgb(45, 21, 112);
}
#one{
    background-color: brown;
}
#two{
    background-color: rgb(141, 126, 84);
}
#three{
    background-color: rgb(37, 34, 43);
}
#four{
    background-color: rgb(40, 70, 50);
}
#five{
    background-color: rgb(191, 203, 113);
}
#six{
    background-color: rgb(141, 28, 85);
}
#seven{
    background-color: rgb(2, 156, 9);
}
#eight{
    background-color: rgb(134, 88, 16);
}